* {
  font-family: Verdana, Geneva, sans-serif;
	box-sizing: border-box;
	padding:0;
	margin:0;
}

body, html {
  width: 100%;
  height: 100%;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.8;
}

.init-page { 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7TNvD8yd34BPt20e-Wq4g-vjMmalMq0IDOOqXLo824SWFcd-B");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  width: 100%;
  height: 450px;
  background: url('http://staticr1.blastingcdn.com/media/photogallery/2016/8/24/660x290/b_1433x630/best-paying-jobs-in-medical-field-source-nurseanesthetistcareer-com_838139.jpg');
  display: flex;
  position: relative;
  margin: auto;
  background-position: 50% 1%;
  background-repeat: no-repeat;
}

.title {
  position: relative;
  margin: auto;
  bottom: 40%;
  
}

.dropdown {
  font-size: 25px;
}

#jobs {
  height:40px;
  width:420px;
  font-size: 18px;
}

#map {
	height: 500px;
	width: 700px;
}

.js-user-input {
  display: flex;
}

.js-dropdown {
  padding: 50px;
  margin: auto;
}

.js-search-init {
  margin-bottom: 150px;
  display: flex;
  border-radius: 3px;
}

.init-container {
  margin: auto;
}

.inline {
  font-size: 25px;
  margin: 15px;
  display: inline-block;
}

.js-current-location {
  border-radius: 3px;
  font-size: 18px;
  height: 40px;
  width: 300px;
}

.map-and-doctors {
  display: flex;
}

.map-doc-div {
  margin:auto;
}

.map-div,
.specialty-div {
  display: block;
  padding: 30px;
}

.js-list-of-offices {
  list-style: none;
  margin-bottom: 50px;
}

.map-and-speciality, 
.display-of-doctors{
  display: inline-block;
}

.display-of-doctors {
  border: 2px solid grey;
  border-radius: 3px;
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  margin-top: 145px;
}

.new-search-container {
  display: flex;
  padding: 50px;
}

.js-new-search {
  margin: auto;
  height: 50px;
  width: 250px;
  font-size:20px;
  border-radius: 3px;
}

.hidden {
  display: none;
}

.get-started {
  display:flex;
  position:absolute;
  top:40%;
  left:25%;
}

.start-container {
  text-align: center;
  margin: auto;
  line-height: 50px;
}


.start-container p {
  color:white;
}

.next {
  height:40px;
  width:300px;
  border-radius:3px;
}

.page-link {
  color: black;
  text-decoration: none;
  padding: 40px 60px;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}