* {
	box-sizing: border-box;
}

#map {
	height: 400px;
	width: 600px;
}

.js-specialty-display {
  background-color:blue;
}

.js-list-of-offices {
  /*border: 1px solid black;*/
  list-style: none;
  margin: 50px;
}

.hidden {
  display: none;
}